[Unit]
Description=Pi-Loader Web Server
After=network.target

[Service]
User=root
WorkingDirectory=/opt/pi-loader
ExecStart=/opt/pi-loader/venv/bin/gunicorn -b 0.0.0.0:80 server:app
Restart=always

[Install]
WantedBy=multi-user.target
